body{background-color:#76d7c4 ;
text-align:center;
color:#cb4335;
font-family:calibri;
}

a :link{
	color:#cb4335;
	text-decoration: none ;
}


footer{
	margin-top: 650px;
	text-align:right;
	size:8px;
	}

a:active {
	color:#cb4335;
	text-decoration: none ;
}

a:visited {
	color:#3649ff;
	text-decoration: none ;
}