body{background-color:#76d7c4 ;
text-align:center;
color:#cb4335;
font-family:calibri;
}

#pane{background-color:#76d7c4 }

#one {
	color:#3649ff;
}

#two {
	color:#3649ff;
}

#A1,#A2,#A3,#A4,#A5,#A6,#A7,#A8,#A9,#B1,#B2,#B3,#B4,#B5,#B6,#B7,#B8,#B9{
	display: inline-block;
    width: 35px;
    vertical-align: top;
	border:solid white;
	background-color:white;
	border-radius:8px;
	background-color:white;
}

#P1{
	text-align:left;
	margin-left:450px;
}

#P2{
	margin-top:-90px;
	text-align:right;
	margin-right:450px;
}

#debut{
	margin-top:-70px;
}

#start{
	display: inline-block;
    vertical-align: top;
	border:solid #cb4335;
	color:#cb4335;
	background-color:#76d7c4;
	border-radius:8px;
}

#tut{
	margin-top:50px;
	display: inline-block;
    vertical-align: top;
	border:solid #cb4335;
	border-background-color:white;
	border-radius:8px;
	background-color: #76d7c4;
}

#komen{
	display: inline-block;
    vertical-align: top;
	border:solid #76d7c4;
	background-color:#76d7c4;
	color:#cb4335;
	border-radius:8px;
}

footer{
	margin-top: 30px;
	text-align:right;
	size:8px;
	}